@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    grid-area:1/1/3/2;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:10px;
    background: linear-gradient(172deg, rgba(96,165,250,1) 0%, rgba(109,40,217,1) 100%)
}

.sidebar .logo{
    padding:10px;
    display:flex;
    align-items: center;
    gap:10px;
}

.sidebar .logo p{
    font-size: 25px;
    color:#ffff;
    font-weight: 600;
}

.sidebar .logo img{
    width:50px;
    height: 50px;
}

.sidebar .tools{
    color:#ffff;
    padding:0 0 0 20px;
    width:100%;
    display: grid;
    gap:60px;
}

.sidebar .tools ul,
.sidebar .secondary-tools ul{
    display: grid;
    gap:20px;
}

.sidebar li{
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    
}

.sidebar i{
    font-size: 15px;
    margin-right: 25px;
}

.header{
    grid-area:1/2/2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .search-section,
.header .upload-section{
    display: flex;
    align-items: center;
    padding:10px 30px 10px 30px;
}

.header form{
    flex:1;
}

.header input{
    border-radius: 40px;
    padding:5px;
    border: none;
    outline: none;
    background: #E2E8F0;
    width:70%;
}

.header label{
    margin-right: 10px;
}

.header .user-section{
    display: flex;
    align-items: center;
    gap:20px;
}

.header .user-section p,
.header .user-section i{
    font-size:20px;
    font-weight: 700;
}

.header img{
    width:40px;
    height: 40px;
    background:#F9CC14;
    border-radius: 50%;
    padding:5px;
}

.header .upload-section img{
    width:60px;
    height:60px;
}

.user{
    display: flex;
    align-items: center;
    flex: 1;
    gap:20px;
}

.user p{
    font-size: 10px;
}

.user span{
    font-size:20px;
}

.user p,
.user span{
    font-weight: 500;
}

.upload-buttons{
    display:grid;
    align-items:center;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}

button{
    padding:10px;
    border-radius: 20px;
    border: none;
    width:100px;
    background:#3492D4;
    color:#ffff;
    font-size:15px;
    font-weight: 600;
}

.main-section{
    grid-area:2/2/3/3;
    padding:20px;
    display: grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    background:#E2E8F0;
}

.projects-section p{
   font-size:20px;
   font-weight: 500;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:200px;
    gap:25px;
}

.card{
    border-left: 9px solid #F0B428;
    border-radius: 5px;
    padding:15px;
    background: #ffff;
    overflow: auto;
    display: grid;
    gap:10px;
}

.card .card-footer{
    justify-self: right;
    display: flex;
    gap:20px;
}

.projects-container .project-title,
.projects-container .project-desc{
    font-size:15px;
}

.projects-container .project-desc{
    font-weight: 400;
    color:#7B7B7B;
}

.misc-container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap:20px;
}

.announcements p{
    font-size: 13px;
}

.misc-section .announcements,
.misc-section .trending{
   background: #ffff;
   border-radius: 10px;
   padding:20px;
}

.misc-section .trending{
    border:1px solid orange;
}
