*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    grid-area:1/1/3/2;
}

.header{
    grid-area:1/2/2/3;
}

.main-section{
    grid-area:2/2/3/3;
    padding:20px;
    display: grid;
    grid-template-columns:2fr 1fr;
    gap:10px;
}

.projects-section{
    border:1px solid yellow;
}

.misc-section{
    border:1px solid red;
}

.header,
.main-section,
.sidebar{
    border:2px solid black;
}